*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
C:\Users\User\SmartFlowerpot\app\build.gradle
C:\Users\User\SmartFlowerpot\app\google-services.json